@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");
* {
  margin: 0; }

html {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif !important; }

h2 {
  font-size: 12px;
  font-weight: bold; }

.list-and-graph-wrap {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr; }

.watchlist {
  background: #181615;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 1rem; }

.watchlist-wrap {
  margin-top: 50px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ee9611;
  background: #181615;
  padding: 10px;
  min-height: 200px; }
  .watchlist-wrap h2 {
    text-align: left;
    font-size: 0.8em;
    color: #ee9611; }
  .watchlist-wrap table {
    border-collapse: collapse; }
  .watchlist-wrap th {
    font-size: 0.8em;
    color: white; }
  .watchlist-wrap tr {
    font-size: 0.8em;
    font-weight: bold;
    background-color: #292723; }
  .watchlist-wrap td {
    font-size: 0.8em;
    font-weight: 600;
    color: #ee9611; }
  .watchlist-wrap tbody tr:nth-child(odd) {
    background-color: #22201b; }
  .watchlist-wrap input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ee9611;
    color: white; }

.chart {
  margin-top: 50px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ee9611;
  background: #181615;
  padding: 10px;
  min-height: 200px; }

.watchlist table {
  text-align: left;
  table-layout: auto; }

.page-container {
  text-align: center;
  margin-top: 8%; }
  .page-container span {
    color: #ee9611; }
  .page-container h1 {
    color: white; }

.stockadder {
  width: 100%; }
  .stockadder h2 {
    text-align: left;
    font-size: 0.8em; }

.Btn {
  border-style: none;
  background-color: transparent;
  color: #ee9611;
  border-radius: 2px;
  margin: 3px; }
  .Btn:hover {
    background-color: #8dd4f5; }

.startsimBtnReady {
  border-style: none;
  background-color: transparent;
  color: #ff7300;
  border-radius: 2px;
  margin: 3px;
  font-weight: 700;
  text-decoration: underline; }
  .startsimBtnReady:hover {
    background-color: #8dd4f5; }

.startsimBtnNo {
  border-style: none;
  background-color: #606164;
  color: #ee9611;
  border-radius: 2px;
  margin: 3px; }

.BuyBtn {
  border-style: none;
  background-color: transparent;
  color: #17b117;
  border-radius: 2px;
  margin: 3px; }
  .BuyBtn:hover {
    background-color: #ee9611; }

.green-result {
  color: #1fbb1f !important; }

.red-result {
  color: #ce2e2e !important; }

.portfolio-sum {
  color: white !important;
  font-weight: 600; }

.modal {
  margin: 2px 5px;
  font-size: 1em;
  color: white;
  border-radius: 3px; }

.modal-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
