@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif; }

html {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif; }

h2 {
  font-size: 12px;
  font-weight: bold; }

.list-and-graph-wrap {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr; }

.watchlist {
  background: #22201e;
  grid-auto-columns: 1fr;
  width: 100%;
  justify-content: center;
  padding: 1rem; }

.watchlist-wrap {
  margin-top: 50px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff6600;
  background: #22201e;
  padding: 10px;
  min-height: 200px; }
  .watchlist-wrap h2 {
    text-align: left;
    font-size: 0.8em;
    color: #ff6600; }
  .watchlist-wrap tr {
    font-size: 0.8em;
    font-weight: bold;
    background-color: #47443c; }
  .watchlist-wrap td {
    font-size: 0.8em;
    font-weight: 600;
    color: #ff6600; }
  .watchlist-wrap tbody tr:nth-child(odd) {
    background-color: #22201b; }
  .watchlist-wrap input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ff6600; }

.chart {
  margin-top: 50px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff6600;
  background: #22201e;
  padding: 10px;
  min-height: 200px; }

.watchlist table {
  text-align: left;
  table-layout: auto; }

.page-container {
  text-align: center;
  margin-top: 8%; }
  .page-container span {
    color: #ff6600; }
  .page-container h1 {
    color: white; }

.stockadder {
  width: 100%; }
  .stockadder h2 {
    text-align: left;
    font-size: 0.8em; }

.Btn {
  border-style: none;
  background-color: #ff6600;
  color: white;
  border-radius: 2px;
  margin: 3px; }
  .Btn:hover {
    background-color: #8dd4f5; }

.startsimBtnReady {
  border-style: none;
  background-color: #ff6600;
  color: white;
  border-radius: 2px;
  margin: 3px; }
  .startsimBtnReady:hover {
    background-color: #33b433; }

.startsimBtnNo {
  border-style: none;
  background-color: #606164;
  color: white;
  border-radius: 2px;
  margin: 3px; }
