
$primary: #181615;
$teal: rgb(238, 150, 17);
$orange: $teal;
$red: red;


* {
    margin: 0; 
    padding: 0;
    border: 0;
}
html { 
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


h2 {
    font-size: 12px;
    font-weight: bold;
}

h1 {
    margin-bottom: 50px
}

.list-and-graph-wrap {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.watchlist {
    background: $primary;
    width: 100%;

    margin: 3px;
}
.closed-history {
   width: 100%;
    margin: 3px;
    border: 2px solid $orange;
    border-radius: 3px;
    border-width: 1px;
    border-color:$orange;
    background: $primary;
    height: 30px; 
    text-align:left;
    h2{
        margin-left: 10px;
        font-size: 0.8em;
        padding-top: 5px;

    }
}
.toggler {
    &:hover {
        cursor: pointer;
    } 
}
.watchlist-wrap {
    width: 100%;
    margin: 3px;
    border: 2px solid $orange;
    border-radius: 3px;
    border-width: 1px;
    border-color:$orange;
    background: $primary;
    min-height: 100px;
        h2{
        text-align: left;
        font-size: 0.8em;
        color: $orange;

    }
        table {
            border-collapse:collapse;   
        }
        th{
            font-size:0.8em;
            color:white;
        }
        tr {
            font-size: 0.8em;
            font-weight: bold;
            background-color: $primary;
        }
        td {
            font-size: 0.8em;
            font-weight: 600;
            color: $orange;
        }
        tbody tr:nth-child(odd){
  background-color: rgb(34, 32, 27);
}
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $orange;
            color: white;
        }
}

.chart {
    margin: 3px;
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
    max-height: 400px;
    border: 2px solid $orange;
    border-radius: 3px;
    border-width: 1px;
    border-color: $orange;
    background: $primary;
}
.watchlist-inside-wrap {
    margin: 10px;
}
.watchlist table {
    text-align: left;
    table-layout: auto;
}
.page-container {
    text-align: center;
    margin-top: 8%;
    
    span {
        color: $orange;
    }
    h1 {
        color: white;
    }
}
.stockadder {
    width: 100%;

    h2{
        text-align: left;
        font-size: 0.8em;

    }
}

.Btn {
    border-style: none;
    background-color: transparent;    
    color:$orange;
    border-radius: 2px;
    margin: 4px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;

    &:hover {
        background-color: rgb(141, 212, 245)
    }
}
.Graph-btn {
    border-style: none;
    background-color: lighten($primary, 5%);    
    color:$orange;
    border-radius: 2px;
    margin: 3px;
    font-weight: bold;
    font-size: 0.9em;
}
.startsimBtnReady {
    border-style: none;
    background-color: transparent;
    color: rgb(255, 115, 0);
    border-radius: 2px;
    margin: 3px;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        background-color: rgb(141, 212, 245)
    }
}
.startsimBtnNo {
    border-style: none;
    background-color: rgb(96, 97, 100);
    color: rgb(70, 56, 27);
    border-radius: 2px;
    margin: 3px;
}

.BuyBtn {
    border-style: none;
    background-color: lighten($primary, 5%);
    color: rgb(23, 177, 23);
    border-radius: 2px;
    margin: 3px;
    font-weight: bold;

    &:hover {
        background-color: $orange;
    }
}
.green {
    color: rgb(31, 187, 31) !important;
}
.green-result {
    color: rgb(31, 187, 31) !important;
}
.red-result{
    color: rgb(206, 46, 46) !important;
}
.portfolio-sum{
    color: white !important;
    font-weight: 600;
}
.modal {
    margin: 2px 5px;
    font-size: 1em;
    color: white;
    border-radius: 3px;
}
.modal-form {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
@media screen and (max-width: 1200px) {

    .list-and-graph-wrap {
    width: 90%;
    margin: auto;
}
}
@media screen and (max-width: 1000px) {

    .list-and-graph-wrap {
    width: 100%;
    margin: auto;
}
    .chart {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 800px) {

    .list-and-graph-wrap {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
}
}
