@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

$primary: #181615;
$teal: rgb(238, 150, 17);
$orange: $teal;
$red: red;


* {
    margin: 0;
}
html { 
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif !important;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}


.list-and-graph-wrap {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.watchlist {
    background: $primary;
    grid-auto-columns: 1fr;
    width: 100%;
    padding: 1rem;
}
.watchlist-wrap {
    margin-top: 50px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color:$orange;
    background: $primary;
    padding: 10px;
    min-height: 200px;
        h2{
        text-align: left;
        font-size: 0.8em;
        color: $orange;

    }
        table {
            border-collapse:collapse;   
        }
        th{
            font-size:0.8em;
            color:white;
        }
        tr {
            font-size: 0.8em;
            font-weight: bold;
            background-color: #292723
        }
        td {
            font-size: 0.8em;
            font-weight: 600;
            color: $orange;
        }
        tbody tr:nth-child(odd){
  background-color: rgb(34, 32, 27);
}
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $orange;
            color: white;
        }
}

.chart {
    margin-top: 50px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: $orange;
    background: $primary;
    padding: 10px;
    min-height: 200px;
}

.watchlist table {
    text-align: left;
    table-layout: auto;
}
.page-container {
    text-align: center;
    margin-top: 8%;
    
    span {
        color: $orange;
    }
    h1 {
        color: white;
    }
}
.stockadder {
    width: 100%;

    h2{
        text-align: left;
        font-size: 0.8em;

    }
}

.Btn {
    border-style: none;
    background-color: transparent;
    color:$orange;
    border-radius: 2px;
    margin: 3px;

    &:hover {
        background-color: rgb(141, 212, 245)
    }
}
.startsimBtnReady {
    border-style: none;
    background-color: transparent;
    color: rgb(255, 115, 0);
    border-radius: 2px;
    margin: 3px;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        background-color: rgb(141, 212, 245)
    }
}
.startsimBtnNo {
    border-style: none;
    background-color: rgb(96, 97, 100);
    color: $orange;
    border-radius: 2px;
    margin: 3px;
}

.BuyBtn {
    border-style: none;
    background-color: transparent;
    color: rgb(23, 177, 23);
    border-radius: 2px;
    margin: 3px;

    &:hover {
        background-color: $orange;
    }
}
.green-result {
    color: rgb(31, 187, 31) !important;
}
.red-result{
    color: rgb(206, 46, 46) !important;
}
.portfolio-sum{
    color: white !important;
    font-weight: 600;
}
.modal {
    margin: 2px 5px;
    font-size: 1em;
    color: white;
    border-radius: 3px;
}
.modal-form {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}